venv
.vscode
__pycache__/
/.idea/
*.pyc
fitness_club/fitness_club/__pycache__/settings.cpython-310.pyc
fitness_club/fitness_club/__pycache__/urls.cpython-310.pyc
fitness_club/fitness_club/__pycache__/settings.cpython-310.pyc
fitness_club/fitness_club/__pycache__/settings.cpython-310.pyc
